{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
    .jumbotron {
      text-align: center;
      background-image: url(‘static:img/jumbotron.jpg’);
      background-size: cover;
      background-repeat: no-repeat;
}
  </style>
{% endblock %}

{% block jumbotron %}

</head>
<body>
  <h1>Mimo's Closet</h1>
  <h5>ONLINE BOUTIQUE</h5>
<div class="container">
  <div class="jumbotron">


     <div id="carousel-example-generic2" class="carousel slide carousel-fullscreen carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel1.jpg');">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h1 class="super-heading">Bootstrap Carousel Guide</h1>
          <p class="super-paragraph">This is a demo for the <a href="https://bootstrapious.com/p/bootstrap-carousel">Bootstrap Carousel Guide</a> by Bootstrapious.</p>
        </div>
      </div>
      <div class="item" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel2.jpg');">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h1 class="super-heading">Lorem ipsum dolor color</h1>
          <p class="super-paragraph">This is a demo for the Bootstrap Carousel Guide.</p>
        </div>
      </div>
      <div class="item" style="background-image: url('https://bootstrapious.com/tutorial/carousel/img/carousel3.jpg');">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h1 class="super-heading">Lorem ipsum dolor color</h1>
          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
            est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


    <h1>Mimo's Closet</h1>      
    <p>Add a background image.</p>
  </div>

{% endblock %}

{% block content %}
<div class="row">
          <div class="col-md-4">
            <a href="#"> <img src="{% static 'img/basic1.jpg' %}" class="img-responsive"/></a>
          </div>
          <div class="col-md-4">
            <a href="#"> <img src="{% static 'img/onepiece2.jpg' %}" class="img-responsive"/></a>
          </div>
           <div class="col-md-4">
            {% if request.user.is_authenticated %}
            <h1> Hello {{ request.user }}</h1>

            {% else %}
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <p><label for="id_login">Login:</label> <input name="login" placeholder="Username or e-mail" autofocus="autofocus" required="" id="id_login" type="text"></p>
                <p><label for="id_password">Password:</label> <input name="password" placeholder="Password" required="" id="id_password" type="password"></p>
                <p><label for="id_remember">Remember Me:</label> <input name="remember" id="id_remember" type="checkbox"></p>
  
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?
                </a>
                <a class="button secondaryAction" href="{% url 'account_signup' %}">Sign Up</a>
                <button class="primaryAction" type="submit">Sign In</button>
            </form>
            {% endif %}
          </div>
</div>

<div class="row">
          <div class="col-md-6">
            <a href="#"> <img src="{% static 'img/basic7.jpg' %}" class="img-responsive"/></a>
          </div>
          <div class="col-md-6">
          <a href="#"> <img src=" {% static 'img/top2.jpg' %}" class="img-responsive"/></a>
          </div>
</div>

<div class="row">
          <div class="col-md-4">
            <a href="#"> <img src="{% static 'img/basic5.jpg' %}" class="img-responsive"/></a>
          </div>
          <div class="col-md-4">
            <a href="#"> <img src="{% static 'img/basic6.jpg' %}" class="img-responsive"/></a>
          </div>
              <div class="col-md-4">
                <a href="#"> <img src="{% static 'img/basic8.jpg' %}" class="img-responsive"/></a>
          </div>
</div>
{% endblock %}
